<!DOCTYPE html>

{% load static %}

<html lang="{{LANGUAGE_CODE}}">
<head>

    <meta charset="UTF-8">
    <!-- viewport meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% block meta-settings %}
    {% include 'components/meta.html' %}
    {% endblock meta-settings %}      
        

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon.png' %}">

    
    {% block revolution-slider-css %}
        
    {% endblock revolution-slider-css %}
        
    
    {% block base-css %}
        {% include 'base/components/styles.html' %}
    {% endblock  %}


    {% block custom-css %}
        
    {% endblock custom-css %}
        

</head>
<body>


    {% include 'components/mobile-sidebar.html' %}

    {% include 'components/navbar.html' %}

    
    {% block content %}
        
    {% endblock content %}
      

    {% include 'components/footer.html' %}
        
    {% include 'base/components/scroll-top.html' %}

    {% include 'base/components/scripts.html' %}
    
    {% block revolution-slider-js %}
        
    {% endblock revolution-slider-js %}
        

    {% include 'base/components/counter-up.html' %}
        
    
    {% block custom-js %}
    {% endblock custom-js %}
        
</body>
</html>