{% extends 'base/base.html' %}
{% load i18n %}

{% block custom-css %}
    <style>
        .breadcrumb-area {
            background-image: url("{{application.banner_image.url}}")
        }
    </style>
{% endblock custom-css %}

{% block meta-settings %}
    {% include 'components/meta.html' with obj=application %}
{% endblock meta-settings %}
    
    

{% block content %}
    

{% if category %}
    {% include 'components/banner-area.html' with banner_title=category.banner_title %}
{% else %}
    {% trans 'Uygulamalar' as uygulamalar %}
    {% include 'components/banner-area.html' with banner_title=uygulamalar %}
{% endif %}
    

<!--================================
          START RECENT AREA
=================================-->
<section class="ofc-caoursel-area responsive-content recent-area cases-area area-padding case-page-1">
    <div class="ofc-caoursel-fluid">
        <div class="container">
            <div class="row mb-30px masonary-layout">
                
                {% for item in subcategories %}
                    {% include 'applications/components/category-list-container.html' %}
                {% endfor %}
                    
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end ofc-caoursel-fluid -->
</section><!-- end ofc-caoursel-area -->
<!--================================
          END RECENT AREA
=================================-->

{% include 'components/meet-area.html' %}


{% endblock content %}
    
