{% load i18n %}

<div class="col-md-3 col-sm-6 col-xs-12 masonary-item">
    <div class="case-list">
        <div class="office-list-item">
            <div class="office__name">
                <span class="office__desc-top">{{item.category.title}}</span>
                <h3 class="office__name-title">
                    <a href="single-cases.html">{{item.title}}</a>
                </h3>
            </div><!-- end office__name -->
            
            <div class="recent__img recent__bg" style="background-image: url('{{item.cover_image.url}}');"></div>
            <div class="recent__btn">
                <a href="{% url 'application_detail' slug=item.slug %}" class="recent__btn-btn">
                    {% trans 'Detaylı bilgi' %} <span class="fontello icon-angle-double-right"></span>
                </a>
            </div>
        </div><!-- end office-list-item -->
    </div><!-- end office-list -->
</div><!-- end col-md-3 -->