{% load i18n %}

<div class="office-list-item">
    <div class="office__name" style="padding-bottom: 0;">
        <span class="office__desc-top">{{item.category.title}}</span>
        <h3 class="office__name-title">
            <a href="{% url 'application_detail' slug=item.slug %}">{{item.title}}</a>
        </h3>
    </div><!-- end office__name -->
    <a href="{% url 'application_detail' slug=item.slug %}">
        <div class="recent__img recent__bg" style="background-image: url('{{item.cover_image.url}}');"></div>
    </a>
    <div class="recent__btn">
        <a href="{% url 'application_detail' slug=item.slug %}" class="recent__btn-btn">
            {% trans 'Detaylı bilgi' %} <span class="fontello icon-angle-double-right"></span>
        </a>
    </div>
</div><!-- end office-list-item -->
