{% extends 'base/base.html' %}
{% load static %}

{% block custom-css %}
    <link rel="stylesheet" href="{% static 'css/contactpage.css' %}">
    <style>
        .breadcrumb-area {
            background-image: url("{{contact.banner_image.url}}")
        }

    </style>
{% endblock custom-css %}

{% block meta-settings %}
    {% include 'components/meta.html' with obj=contact %}
{% endblock meta-settings %}
    
    
{% block content %}

    {% include 'components/banner-area.html' with banner_title=contact.banner_title %}

    {% include 'contact/components/contact-info.html' %}
    
    {% include 'contact/components/contact-form.html' %}


<!--========= start google map ===========-->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.8729872112226!2d28.63420431541332!3d40.98426197930317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b55fbfffffffff%3A0x6cb1b6a18e1af260!2sTTAF%20ELEKTRON%C4%B0K%20SAN.%20VE%20T%C4%B0C.%20A.%C5%9E.!5e0!3m2!1str!2str!4v1632687036684!5m2!1str!2str" width="100%" height="450" style="border:0;" allowfullscreen loading="lazy"></iframe>
<!--========= end google map ===========-->


{% endblock content %}



    