{% load static %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/magnificpopup.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script>
    function setLanguage(language){
        let form = document.getElementById('setLanguageForm');
        let field = document.getElementById('language_field');

        field.value = language;
        form.submit();
    }

</script>