{% load static %} 

<!-- inject:css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/fontello.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.default.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/magnificpopup.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<!-- endinject -->

    
<style>
    .menu-area-3 .menu-full-width .logo-box{
        background-color: #fff;
    }
</style>