{% load static %}
{% load i18n %}
<!--================================
         START RECENT AREA
=================================-->
<section class="ofc-caoursel-area recent-area area-padding theme-bg-gray">
    <div class="ofc-caoursel-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12 primary-padding-3 text-center">
                    <div class="avivon-heading">
                        <h2 class="avivon__title">{% trans 'Uygulama Alanları' %}</h2>
                    </div><!-- end avivon-heading -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="office-list">
                        
                        {% for item in applications %}
                        {% include 'applications/components/category-list-item.html' %}
                        {% endfor %}
                    </div><!-- end office-list -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end ofc-caoursel-fluid -->
</section><!-- end ofc-caoursel-area -->
<!--================================
          END RECENT AREA
=================================-->
