{% load static %}
    
<!--================================
        START REV SLIDER AREA
=================================-->
<section class="rev-slider-3 slider-area-3">
    <div class="trusted-fluid">
        <div id="rev_slider_1078_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="classic4export" data-source="gallery">
            <!-- START REVOLUTION SLIDER 5.4.1 fullwidth mode -->
            <div id="rev_slider_1078_1" class="rev_slider fullwidthabanner" data-version="5.4.1">
                <ul>	
                    <!-- SLIDE  -->
                    
                    {% comment %}
                    <li data-index="rs-3045" data-transition="boxfade" data-slotamount="default"
                    data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power4.easeInOut" data-easeout="Power4.easeInOut" data-masterspeed="2000" data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <!-- MAIN IMAGE -->
                    <img src="{% static 'images/home3-slidebg-1.jpg' %}"  alt=""  data-bgposition="center center"
                        data-bgfit="cover"
                        data-bgrepeat="no-repeat" data-bgparallax="10" class="rev-slidebg" data-no-retina>
                    <!-- LAYERS -->

                    <div class="tp-caption tp-resizeme"
                        id="slide-3045-layer-1"
                        data-x="['center','center','center','center']"
                        data-hoffset="0 0 0 0"
                        data-y="['middle','middle','middle','middle']"
                        data-voffset="['-30','-30','-30','-30']"
                        data-fontsize="['100','100','70','70']"
                        data-lineheight="['90', '90', '70', '70']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text"
                        data-responsive_offset="on"

                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-textAlign="['inherit','inherit','inherit','inherit']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 8; white-space: nowrap;">
                    <h2 class="slide__title">finance & consulting business</h2>
                    </div><!-- end tp-caption -->

                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption tp-resizeme"
                        id="slide-3045-layer-2"
                        data-x="['center','center','center','center']"
                        data-hoffset="0 0 0 0"
                        data-y="['middle','middle','middle','middle']"
                        data-voffset="['60', '60', '60', '0']"
                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-fontsize="['100','100','70','70']"
                        data-lineheight="['120', '120', '80', '50']"
                        data-type="text"
                        data-responsive_offset="on"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":750,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-textAlign="['inherit','inherit','inherit','inherit']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"

                        style="z-index: 9; white-space: nowrap;">
                        <h2 class="slide__title2">consulting business</h2>
                    </div><!-- end tp-caption -->

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-resizeme"
                        id="slide-3045-layer-3"
                        data-x="['center','center','center','center']"
                        data-hoffset="0 0 0 0"
                        data-y="['middle','middle','middle','middle']"

                        data-voffset="['170', '170', '170', '170']"

                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text"
                        data-responsive_offset="on"
                        data-fontsize="['20','20','16','16']"
                        data-lineheight="['34', '34', '34', '34']"
                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"Power2.easeInOut"}]'
                        data-textAlign="['center','center','center','center']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        style="z-index: 9; white-space: nowrap;">
                        <p class="slide__desc">
                            sed quia lipsum dolor sit atur adipiscing elit is nunc <br>
                            quis tellus sed ligula porta ultricies.
                        </p>
                    </div><!-- end tp-caption -->

                    <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-resizeme"
                        id="slide-3045-layer-4"
                        data-x="['center','center','center','center']"
                        data-hoffset="0 0 0 0"
                        data-y="['middle','middle','middle','middle']"

                        data-voffset="['262', '262', '262', '262']"

                        data-width="none"
                        data-height="none"
                        data-whitespace="nowrap"
                        data-type="text"
                        data-responsive_offset="on"

                        data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":1250,"ease":"Power4.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[175%];","mask":"x:inherit;y:inherit;","ease":"Power2.easeInOut"},{"frame":"hover","speed":"300","ease":"Power3.easeOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bc:rgba(255, 255, 255, 1.00);bw:1px 1px 1px 1px;"}]'
                        data-textAlign="['inherit','inherit','inherit','inherit']"
                        data-paddingtop="[0,0,0,0]"
                        data-paddingright="[0,0,0,0]"
                        data-paddingbottom="[0,0,0,0]"
                        data-paddingleft="[0,0,0,0]"
                        style="z-index: 9; white-space: nowrap;">
                        <a href="#" class="get-btn">
                            get started <span class="fontello icon-angle-double-right"></span>
                        </a>
                    </div><!-- end tp-caption -->
                </li>
                    {% endcomment %}
                        
                    

                    {% for slider in sliders %}
                        {% include 'home/components/carousel-item.html' with slider=slider %}
                    {% endfor %}
                        
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div><!-- end fullwidthabanner -->
        </div><!-- END REVOLUTION SLIDER -->
    </div><!-- end trusted-fluid -->
</section><!-- end rev-slider-2 -->

<!--================================
    END REV SLIDER   AREA
=================================-->
