{% load static %} 
{% load i18n %}


<section class="offer-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="img-responsive home_offer_image" src="{% static 'images/home-about.jpg' %}" alt="DOGON About">
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-body">
                        <div class="avivon-heading">
                            <h2 class="avivon__title inspire-title">
                                {% blocktrans trimmed %} Hayal gücüne yolculuk başlıyor! {% endblocktrans %}
                            </h2>
                            <p class="avivon__desc mt-45px mb-40px">
                                {% blocktrans trimmed %} 
                                DOGON, tasarım ve prototiplendirme sürecinde sürdürülebilir başarı için
                                inovasyonun ve Ar-Ge’nin önemine inanmaktadır. Havacılık, otomotiv, medikal ve birçok
                                uygulama alanında müşterilerinin beklentilerinin ötesinde ve uluslararası standartlarda
                                çözümler sunmaktadır. 
                                {% endblocktrans %}
                            </p>
                            <a href="{% url 'about' %}" class="btn_home_detail">
                                {% trans 'Detaylı bilgi' %} 
                                <span class="fontello icon-angle-double-right"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
