<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- viewport meta -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Avivon - Business Consulting & Finance HTML5 Template">
    <meta name="keywords" content="	advisor, business, consultant, consulting, corporate,  finance, financial, law firm, institutions, organizations , html5">
    <title>Avivon - Pure Business Consulting & Finance HTML5 Template</title>

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">

    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/fontello.css">
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="css/magnificpopup.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- endinject -->
</head>
<body>
<!-- page preloader -->
<div id="loading-area">
    <div class="three col">
        <div class="loader" id="loader-1"></div>
    </div>
</div><!-- end loading -->

<div class="body-overlay"></div><!-- end body-overlay -->
<div class="offcanvas-menu">
    <div class="menu__close"></div><!-- end menu__close -->
    <ul class="off__menu">
        <li class="menu__title-only">home <i class="fas fa-angle-down"></i></li>
        <li><a href="index.html">home 01</a></li>
        <li><a href="index2.html">home 02</a></li>
        <li><a href="index3.html">home 03</a></li>
        <li class="menu__title-only">services <i class="fas fa-angle-down"></i></li>
        <li><a href="service1.html">services 01</a></li>
        <li><a href="service2.html">services 02</a></li>
        <li><a href="single-service.html">single service</a></li>
        <li class="menu__title-only">pages <i class="fas fa-angle-down"></i></li>
        <li><a href="about-us1.html">about us 01</a></li>
        <li><a href="about-us2.html">about us 02</a></li>
        <li><a href="our-mission.html">our mission</a></li>
        <li><a href="our-history.html">our history</a></li>
        <li><a href="our-partnership.html">partnership</a></li>
        <li><a href="error-page-404.html">error 404 page</a></li>
        <li class="menu__title-only">cases <i class="fas fa-angle-down"></i></li>
        <li><a href="cases1.html">cases 01</a></li>
        <li><a href="cases2.html">cases 02</a></li>
        <li><a href="single-cases.html">single case</a></li>
        <li class="menu__title-only">blog <i class="fas fa-angle-down"></i></li>
        <li><a href="blog-post.html">blog post</a></li>
        <li><a href="single-blog.html">single blog</a></li>
        <li class="menu__title-only">contact <i class="fas fa-angle-down"></i></li>
        <li><a href="contact.html">contact us</a></li>
    </ul>
</div><!-- end offcanvas-menu -->

<!-- ================================
          START MENU AREA
================================= -->
<section class="menu-area">
    <div class="top-menu-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="menu-full-width">
                        <div class="logo-box">
                            <div class="site-open">
                                <span class="open__only"></span>
                                <span class="open__only"></span>
                                <span class="open__only"></span>
                            </div><!-- end site-open -->
                            <div class="logo">
                                <a href="index.html" title="Avivon"><img src="images/logo.png" alt="logo"></a>
                            </div><!-- end logo -->
                        </div><!-- end logo-box -->
                        <div class="main-menu">
                            <nav class="menu__wrapper">
                                <ul class="dropdown-main">
                                    <li>
                                        <a href="#home">home</a>
                                        <div class="main__dropdown-menu">
                                            <ul>
                                                <li><a href="index.html">home 01</a></li>
                                                <li><a href="index2.html">home 02</a></li>
                                                <li><a href="index3.html">home 03</a></li>
                                            </ul>
                                        </div><!-- end main__dropdown-menu -->
                                    </li>
                                    <li>
                                        <a href="#">services</a>
                                        <div class="main__dropdown-menu">
                                            <ul>
                                                <li><a href="service1.html">services 01</a></li>
                                                <li><a href="service2.html">services 02</a></li>
                                                <li><a href="single-service.html">single service</a></li>
                                            </ul>
                                        </div><!-- end main__dropdown-menu -->
                                    </li>
                                    <li>
                                        <a href="#">pages</a>
                                        <div class="main__dropdown-menu">
                                            <ul>
                                                <li><a href="about-us1.html">about us 01</a></li>
                                                <li><a href="about-us2.html">about us 02</a></li>
                                                <li><a href="our-mission.html">our mission</a></li>
                                                <li><a href="our-history.html">our history</a></li>
                                                <li><a href="our-partnership.html">partnership</a></li>
                                                <li><a href="error-page-404.html">error 404 page</a></li>
                                            </ul>
                                        </div><!-- end main__dropdown-menu -->
                                    </li>
                                    <li>
                                        <a href="#">cases</a>
                                        <div class="main__dropdown-menu">
                                            <ul>
                                                <li><a href="cases1.html">cases 01</a></li>
                                                <li><a href="cases2.html">cases 02</a></li>
                                                <li><a href="single-cases.html">single case</a></li>
                                            </ul>
                                        </div><!-- end main__dropdown-menu -->
                                    </li>
                                    <li>
                                        <a href="#">blog</a>
                                        <div class="main__dropdown-menu">
                                            <ul>
                                                <li><a href="blog-post.html">blog post</a></li>
                                                <li><a href="single-blog.html">single blog</a></li>
                                            </ul>
                                        </div><!-- end main__dropdown-menu -->
                                    </li>
                                    <li>
                                        <a href="contact.html">contact</a>
                                    </li>
                                </ul>
                            </nav><!-- end menu__wrapper -->
                            <div class="logo-right-button">
                                <div class="lang-dropdown">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <img src="images/flag.jpg" alt="English">
                                                english
                                                <i class="fas fa-caret-down"></i>
                                            </a>
                                            <div class="lang-drop-item">
                                                <a href="#">
                                                    <img src="images/flag.jpg" alt="English">
                                                    english
                                                </a>
                                                <a href="#">
                                                    <img src="images/flag2.jpg" alt="Usa">
                                                    usa
                                                </a>
                                                <a href="#">
                                                    <img src="images/flag3.jpg" alt="France">
                                                    france
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div><!-- end lang-dropdown -->
                                <div class="contact-para">
                                    <p>+ 888 999 0000</p>
                                    <span class="fontello icon-phone-call phone-call"></span>
                                </div><!-- end contact-para -->
                            </div><!-- end logo-right-button -->
                        </div><!-- end main-menu -->
                    </div><!-- end menu-full-width -->
                </div><!-- end col-log-12 -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end top-menu-area -->
</section><!-- end menu-area -->
<!-- ================================
            END MENU AREA
================================= -->

<!--================================
          START BANNER AREA
=================================-->
<section class="trusted-area breadcrumb-area text-center">
    <div class="trusted-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="trusted-content">
                        <div class="trusted__title">
                            <ul class="bread__rumb-item">
                                <li class="active-item"><a href="index.html">home</a></li>
                                <li>cases</li>
                            </ul>
                            <h2 class="trusted__title-title">cases style 1</h2>
                        </div><!-- end trusted__title -->
                    </div><!-- end trusted-content -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end trusted-fluid -->
</section><!-- end trusted-area -->
<!--================================
          END BANNER AREA
=================================-->

<!--================================
          START RECENT AREA
=================================-->
<section class="ofc-caoursel-area responsive-content recent-area cases-area area-padding case-page-1">
    <div class="ofc-caoursel-fluid">
        <div class="container">
            <div class="row mb-30px masonary-layout">
                <div class="col-md-3 col-sm-6 col-xs-12 masonary-item">
                    <div class="case-list">
                        <div class="office-list-item">
                            <div class="office__name">
                                <span class="office__desc-top">risk management</span>
                                <h3 class="office__name-title">
                                    <a href="single-cases.html">financial marketing advice.</a>
                                </h3>
                                <span class="fontello icon-exploration"></span>
                            </div><!-- end office__name -->
                            <div class="recent__img recent__bg"></div>
                            <div class="recent__btn">
                                <a href="single-cases.html" class="recent__btn-btn">
                                    read more <span class="fontello icon-angle-double-right"></span>
                                </a>
                            </div>
                        </div><!-- end office-list-item -->
                    </div><!-- end office-list -->
                </div><!-- end col-md-3 -->
                <div class="col-md-3 col-sm-6 col-xs-12 masonary-item">
                    <div class="case-list">
                        <div class="office-list-item">
                            <div class="office__name">
                                <span class="office__desc-top">thought leadership</span>
                                <h3 class="office__name-title">
                                    <a href="single-cases.html">
                                        substantial business growth.
                                    </a>
                                </h3>
                                <span class="fontello icon-achievement"></span>
                            </div><!-- end office__name -->
                            <div class="recent__img recent__bg-2"></div>
                            <div class="recent__btn">
                                <a href="single-cases.html" class="recent__btn-btn">
                                    read more <span class="fontello icon-angle-double-right"></span>
                                </a>
                            </div>
                        </div><!-- end office-list-item -->
                    </div><!-- end office-list -->
                </div><!-- end col-md-3 -->
                <div class="col-md-3 col-sm-6 col-xs-12 masonary-item">
                    <div class="case-list">
                        <div class="office-list-item">
                            <div class="office__name">
                                <span class="office__desc-top">extra brilliant</span>
                                <h3 class="office__name-title">
                                    <a href="single-cases.html">top-notch consultation provider.</a>
                                </h3>
                                <span class="fontello icon-megaphone"></span>
                            </div><!-- end office__name -->
                            <div class="recent__img recent__bg-3"></div>
                            <div class="recent__btn">
                                <a href="single-cases.html" class="recent__btn-btn">
                                    read more <span class="fontello icon-angle-double-right"></span>
                                </a>
                            </div>
                        </div><!-- end office-list-item -->
                    </div><!-- end office-list -->
                </div><!-- end col-md-3 -->
                <div class="col-md-3 col-sm-6 col-xs-12 masonary-item">
                    <div class="case-list">
                        <div class="office-list-item rpl-content">
                            <div class="office__name">
                                <span class="office__desc-top">business strategy</span>
                                <h3 class="office__name-title">
                                    <a href="single-cases.html">research beyond the business.</a>
                                </h3>
                                <span class="fontello icon-knowledge"></span>
                            </div><!-- end office__name -->
                            <div class="recent__img recent__bg-4"></div>
                            <div class="recent__btn">
                                <a href="single-cases.html" class="recent__btn-btn">
                                    read more <span class="fontello icon-angle-double-right"></span>
                                </a>
                            </div>
                        </div><!-- end office-list-item -->
                    </div><!-- end office-list -->
                </div><!-- end col-md-3 -->
                <div class="col-md-3 col-sm-6 col-xs-12 masonary-item">
                    <div class="case-list">
                        <div class="office-list-item">
                            <div class="office__name">
                                <span class="office__desc-top">super consultants</span>
                                <h3 class="office__name-title">
                                    <a href="single-cases.html">quality of graphics design.</a>
                                </h3>
                                <span class="fontello icon-wallet"></span>
                            </div><!-- end office__name -->
                            <div class="recent__img recent__bg-5"></div>
                            <div class="recent__btn">
                                <a href="single-cases.html" class="recent__btn-btn">
                                    read more <span class="fontello icon-angle-double-right"></span>
                                </a>
                            </div>
                        </div><!-- end office-list-item -->
                    </div><!-- end office-list -->
                </div><!-- end col-md-3 -->
                <div class="col-md-3 col-sm-6 col-xs-12 masonary-item">
                    <div class="case-list">
                        <div class="office-list-item">
                            <div class="office__name">
                                <span class="office__desc-top">marketing rates</span>
                                <h3 class="office__name-title">
                                    <a href="single-cases.html">mission to create a future.</a> </h3>
                                <span class="fontello icon-analysis"></span>
                            </div><!-- end office__name -->
                            <div class="recent__img recent__bg-6"></div>
                            <div class="recent__btn">
                                <a href="single-cases.html" class="recent__btn-btn">
                                    read more <span class="fontello icon-angle-double-right"></span>
                                </a>
                            </div>
                        </div><!-- end office-list-item -->
                    </div><!-- end office-list -->
                </div><!-- end col-md-3 -->
                <div class="col-md-3 col-sm-6 col-xs-12 masonary-item">
                    <div class="case-list">
                        <div class="office-list-item">
                            <div class="office__name">
                                <span class="office__desc-top">skilled & professional</span>
                                <h3 class="office__name-title">
                                    <a href="single-cases.html">build digital campaigns brands.</a>
                                </h3>
                                <span class="fontello icon-profits"></span>
                            </div><!-- end office__name -->
                            <div class="recent__img recent__bg-7"></div>
                            <div class="recent__btn">
                                <a href="single-cases.html" class="recent__btn-btn">
                                    read more <span class="fontello icon-angle-double-right"></span>
                                </a>
                            </div>
                        </div><!-- end office-list-item -->
                    </div><!-- end office-list -->
                </div><!-- end col-md-3 -->
                <div class="col-md-3 col-sm-6 col-xs-12 masonary-item">
                    <div class="case-list">
                        <div class="office-list-item rpl-content">
                            <div class="office__name">
                                <span class="office__desc-top">business growth</span>
                                <h3 class="office__name-title">
                                    <a href="single-cases.html">businesses large and small.</a>
                                </h3>
                                <span class="fontello icon-exploration"></span>
                            </div><!-- end office__name -->
                            <div class="recent__img recent__bg-8"></div>
                            <div class="recent__btn">
                                <a href="single-cases.html" class="recent__btn-btn">
                                    read more <span class="fontello icon-angle-double-right"></span>
                                </a>
                            </div>
                        </div><!-- end office-list-item -->
                    </div><!-- end office-list -->
                </div><!-- end col-md-3 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end ofc-caoursel-fluid -->
</section><!-- end ofc-caoursel-area -->
<!--================================
          END RECENT AREA
=================================-->

<!--================================
       START FOOTER AREA
=================================-->
<section class="footer-area responsive-content theme-bg-dark">
    <div class="footer-fluid">
        <div class="container">
            <div class="row footer-list">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-shared rpd-content">
                        <div class="footer__title">
                            <h3 class="footer__title-title">our address</h3>
                        </div><!-- end footer__title -->
                        <div class="ftp__links">
                            <ul>
                                <li>
                                    <a href="#"><i class="fas fa-phone-square"></i> 888 999 0000</a>
                                </li>
                                <li>
                                    <a href="mailto:needhelp@avivon.com"><i class="fas fa-envelope"></i>
                                        needhelp@avivon.com</a>
                                </li>
                                <li>
                                    <p class="add__para-desc"><i class="fas fa-map"></i> 855 road, broklyn street,</p>
                                    <p class="add__para-desc">new york 600</p>
                                </li>
                            </ul>
                        </div><!-- end ftp__links -->
                    </div><!-- end footer-shared -->
                </div><!-- end col-md-3 -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-shared">
                        <div class="footer__title">
                            <h3 class="footer__title-title">extra links</h3>
                        </div><!-- end footer__title -->
                        <div class="ftp__links menu__links clearfix">
                            <ul class="ftp__menu-links pull-left">
                                <li><a href="about-us1.html">about</a></li>
                                <li><a href="#">careers</a></li>
                                <li><a href="#">our team</a></li>
                                <li><a href="#">approach</a></li>
                                <li><a href="cases1.html">case studies</a></li>
                            </ul>
                            <ul class="ftp__menu-links ftp__menu--links pull-left">
                                <li><a href="service1.html">services</a></li>
                                <li><a href="#">locations</a></li>
                                <li><a href="#">clients</a></li>
                                <li><a href="#">help</a></li>
                                <li><a href="contact.html">contact</a></li>
                            </ul>
                        </div><!-- end ftp__links -->
                    </div><!-- end footer-shared -->
                </div><!-- end col-md-4 -->
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="footer-shared">
                        <div class="footer__title">
                            <h3 class="footer__title-title">sign up for email alerts</h3>
                        </div><!-- end footer__title -->
                        <div class="ftp__links">
                            <div class="ftp__form-subs">
                                <p class="ftp__links-desc__desc">subscribe for latest articles and resources</p>
                                <form action="#">
                                    <input type="email" placeholder="enter email">
                                    <button class="email__subscriber-btn"><i class="fas fa-envelope"></i></button>
                                </form>
                            </div><!-- end ftp__form-subs -->
                        </div><!-- end ftp__links -->
                    </div><!-- end footer-shared -->
                </div><!-- end col-md-5 -->
            </div><!-- end row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-shared">
                        <div class="col-md-8 no-padding-lr">
                            <p class="copy__desc">&copy;copyright 2018 by <a href="mailto:layerdrops@gmail.com">Layerdrops.com</a></p>
                        </div><!-- end col-md-8 -->
                        <div class="col-md-4 text-right no-padding-lr">
                            <ul class="copy__links">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div><!-- end col-md-4 -->
                    </div><!-- end copyright-shared -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end footer-fluid -->
</section><!-- end footer-area -->
<!--================================
           END FOOTER AREA
=================================-->

<!-- start scroll top --->
<div id="scroll-top">
    <i class="fas fa-arrow-up" title="Go top"></i>
</div>
<!-- end scroll top -->

<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/magnificpopup.js"></script>
<script src="js/isotope.js"></script>
<script src="js/main.js"></script>
</body>
</html>