{% load i18n %}

<!--================================
       START FOOTER AREA
=================================-->
<section class="footer-area responsive-content theme-bg-dark">
    <div class="footer-fluid">
        <div class="container">
            <div class="row footer-list">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-shared rpd-content">
                        <div class="footer__title">
                            <h3 class="footer__title-title">{% trans 'Bize Ulaşın' %}</h3>
                        </div><!-- end footer__title -->
                        <div class="ftp__links">
                            <ul>
                                <li>
                                    <a href="#"><i class="fas fa-phone-square"></i> +90 (212) 855 82 20</a>
                                </li>
                                <li>
                                    <a href="mailto:info@dogon.com.tr"><i class="fas fa-envelope"></i>
                                        info@dogon.com.tr</a>
                                </li>
                                <li>
                                    <p class="add__para-desc"><i class="fas fa-map"></i> Kavaklı, İstanbul Cd. No:21, 34520 Beylikdüzü Osb/Beylikdüzü/İstanbul</p>
                                </li>
                            </ul>
                        </div><!-- end ftp__links -->
                    </div><!-- end footer-shared -->
                </div><!-- end col-md-3 -->
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-shared">
                        <div class="footer__title">
                            <h3 class="footer__title-title">{% trans 'Site Haritası' %}</h3>
                        </div><!-- end footer__title -->
                        <div class="ftp__links menu__links clearfix">
                            <ul class="ftp__menu-links pull-left">
                                <li><a href="{% url 'home' %}">{% trans 'Ana Sayfa' %}</a></li>
                                <li><a href="{% url 'about' %}">{% trans 'Hakkımızda' %}</a></li>
                                <li><a href="{% url 'applications' %}">{% trans 'Uygulamalar' %}</a></li>
                                <li><a href="{% url 'quality' %}">{% trans 'Kalite' %}</a></li>
                                <li><a href="{% url 'blog' %}">{% trans 'Blog' %}</a></li>
                                
                            </ul>
                            <ul class="ftp__menu-links ftp__menu--links pull-left">
                                <li><a href="{% url 'contact' %}">{% trans 'İletişim' %}</a></li>
                                <li><a href="{% url 'kvkk_page' %}">{% trans 'KVKK' %}</a></li>
                      
                            </ul>
                        </div><!-- end ftp__links -->
                    </div><!-- end footer-shared -->
                </div><!-- end col-md-4 -->
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="footer-shared">
                        <div class="footer__title">
                            <h3 class="footer__title-title">{% trans 'Haritada DOGON' %}</h3>
                        </div><!-- end footer__title -->
                        
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3011.8729872112226!2d28.63420431541332!3d40.98426197930317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b55fbfffffffff%3A0x6cb1b6a18e1af260!2sTTAF%20ELEKTRON%C4%B0K%20SAN.%20VE%20T%C4%B0C.%20A.%C5%9E.!5e0!3m2!1str!2str!4v1632687036684!5m2!1str!2str" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                   
                    </div><!-- end footer-shared -->
                </div><!-- end col-md-5 -->
            </div><!-- end row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright-shared">
                        <div class="col-md-8 no-padding-lr">
                            <p class="copy__desc"><a href="https://theblackcapmedia.com/">Site by Black Cap Media</a></p>
                        </div><!-- end col-md-8 -->
                        <div class="col-md-4 text-right no-padding-lr">
                            <ul class="copy__links">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div><!-- end col-md-4 -->
                    </div><!-- end copyright-shared -->
                </div><!-- end col-md-12 -->
            </div><!-- end row -->
        </div><!-- container -->
    </div><!-- end footer-fluid -->
</section><!-- end footer-area -->
<!--================================
       END FOOTER AREA
=================================-->